<tr>
  <td><%= campaign.property.titleize %></td>
  <td><%= link_to 'Show', campaign %></td>
  <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
  <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>